body {
  background-color: #BEA6C5;
  color:blueviolet;
}


.contain-main-page {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.contain-envelope {
  position: relative;
  top: 9rem;
  left: 34rem;
  height: 36rem;
  width: 38rem;
  overflow: hidden;
  /* border: 1px solid black; */
}

.envelope {
  position: relative;
  top: 5.75rem;
  left: -6rem;
  height: 45rem;
  width: 50rem;
  overflow: visible;
}

/* Closed Envelope */
.envelope-closed {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/unopened-envelope.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.4s ease-in-out;
  z-index: 4;
}

/* Opened Envelope (Initially Hidden) */
.envelope-opened-top {
  position: absolute;
  top: 0rem;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/opened-envelope-top.svg");
  background-size: contain;
  background-position: 2.5rem 0rem;
  background-repeat: no-repeat;
  opacity: 0; /* Start fully transparent */
  transition: opacity 0.4s ease-in-out;
  z-index: 2;
}

/* Opened Envelope (Initially Hidden) */
.envelope-opened {
  position: absolute;
  top: -10rem;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/opened-envelope.svg");
  background-size: contain;
  background-position: 2.5rem 0rem;
  background-repeat: no-repeat;
  opacity: 0; /* Start fully transparent */
  transition: opacity 0.4s ease-in-out;
  z-index: 1;
}

/* On Hover: Hide Closed Envelope & Show Opened One */
.contain-envelope:hover .envelope-closed {
  opacity: 0;
}

.contain-envelope:hover .envelope-opened, .envelope-opened-top {
  opacity: 1;
}

.contain-envelope:hover .overflow.in-envelope {
  animation: openLetter 1s ease-in-out forwards,
  heartbeatGrow 2s ease-in-out 1s infinite;
}

@keyframes heartbeatGrow {
  0%,
  100% {
    transform: scale(0.58) translateY(-7rem);
  }
  14% {
    transform: scale(0.60) translateY(-7rem); /* First beat up */
  }
  28% {
    transform: scale(0.58) translateY(-7rem);
  }
  42% {
    transform: scale(0.60) translateY(-7rem);  /* Second beat up */
  }
  70% {
    transform: scale(0.58) translateY(-7rem);
  }
}

@keyframes openLetter {
  0% {
    transform: translateY(0rem) scale(0.58);
  }
  100% {
    transform: translateY(-4rem) scale(0.58);
  }
}