html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #BEA6C5;
  color:blueviolet;
}

input, textarea, select {
  background-color: #BEA6C5;
  color: black; /* Sets the text inside the input to black */
  border: 1px solid #ccc; /* Optional: Adds a subtle border */
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  outline: none; /* Removes blue highlight on focus */
}


.contain-main-page {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
}
.contain-envelope {
  position: relative;
  top: 9rem;
  left: 34rem;
  height: 36rem;
  width: 38rem;

  /* border: 1px solid black; */
}

.env-shadow {
  position: absolute;
  top: 14.2rem;
  left: 1.1rem;
  height: 21.6rem;
  width: 35.7rem;
  z-index: 1;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.envelope {
  position: relative;
  top: 5.75rem;
  left: -6rem;
  height: 45rem;
  width: 50rem;
  overflow: visible;
}

/* Closed Envelope */
.envelope-closed {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/unopened-envelope.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.4s ease-in-out;
  z-index: 4;
}

/* Opened Envelope (Initially Hidden) */
.envelope-opened-top {
  position: absolute;
  top: -4rem;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/opened-envelope-top.svg");
  background-size: contain;
  background-position: 2.5rem 0rem;
  background-repeat: no-repeat;
  opacity: 0; /* Start fully transparent */
  transition: opacity 0.4s ease-in-out;
  z-index: 2;
}

/* Opened Envelope (Initially Hidden) */
.envelope-opened {
  position: absolute;
  top: -10rem;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/opened-envelope.svg");
  background-size: contain;
  background-position: 2.5rem 0rem;
  background-repeat: no-repeat;
  opacity: 0; /* Start fully transparent */
  transition: opacity 0.4s ease-in-out;
  z-index: 1;
}



/* On Hover: Hide Closed Envelope & Show Opened One */
.contain-envelope:hover .envelope-closed {
  opacity: 0;
}

.contain-envelope:hover .envelope-opened, .envelope-opened-top {
  opacity: 1;
}

.contain-envelope:hover .overflow.in-envelope {
  animation: openLetter 1s ease-in-out forwards,
  heartbeatGrow 2s ease-in-out 1s infinite;
}

@keyframes heartbeatGrow {
  0%,
  100% {
    transform: scale(1  translateY(-5rem));
  }
  14% {
    transform: scale(1.02  translateY(-5rem));
  }
  28% {
    transform: scale(1)  translateY(-5rem); /* First beat up */
  }
  42% {
    transform: scale(1.02)  translateY(-5rem);
  }
  56% {
    transform: scale(1)  translateY(-5rem);  /* Second beat up */
  }
  84% {
    transform: scale(1.02)  translateY(-5rem);
  }
}

@keyframes openLetter {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-5rem);
  }
}